// Renomer ce fichier en conf.config pour être pris en compte par le programme
{
  "supabase_url": "https://your-project.supabase.co",
  "supabase_key": "ta_cle_api",
  "table_name": "documents",
  "n8n_webhook_url_end": "upload-pdf",
  "n8n_webhook_url_test": "webhook-test/",
  "n8n_webhook_url_prod": "webhook/",
  "n8n_webhook_url_base": "https://n8n.mondomaine.com/"
}
